In [13]:
import pandas as pd    # 使用 pd 來引用 pandas 模組中的函數和變數
import re   #用於篩選文字

#read csv file
rank_2021 = pd.read_csv("rank_2021.csv") 
rank_2022 = pd.read_csv("rank_2022.csv")

In [6]:
rank_2021

   排名                遊戲  營收(十億)
0   1       PUBG Mobile     2.8
1   2              王者榮耀     2.8
2   3                原神     1.8
3   4            Roblox     1.3
4   5       Coin Master     1.3
5   6        Pokemon Go     1.2
6   7  Candy Crush Saga     1.2
7   8  Garena Free Fire     1.1

In [4]:
rank_2022

   排名                遊戲  營收(十億)
0   1              王者榮耀     2.2
1   2       PUBG Mobile     1.7
2   3                原神     1.5
3   4  Candy Crush Saga     1.0
4   5            Roblox     0.8
5   6       Coin Master     0.8
6   7            三國志戰略版     0.7
7   8        Pokemon Go     0.7

In [7]:
set1 = set(list(rank_2021["遊戲"]))
set2 = set(list(rank_2022["遊戲"]))

In [9]:
set1

{'Candy Crush Saga',
 'Coin Master',
 'Garena Free Fire',
 'PUBG Mobile',
 'Pokemon Go',
 'Roblox',
 '原神',
 '王者榮耀'}

In [10]:
set2

{'Candy Crush Saga',
 'Coin Master',
 'PUBG Mobile',
 'Pokemon Go',
 'Roblox',
 '三國志戰略版',
 '原神',
 '王者榮耀'}

In [11]:
print(set1&set2)    #交集
print(set2-set1)    #差集

{'Pokemon Go', 'PUBG Mobile', 'Candy Crush Saga', '王者榮耀', 'Coin Master', '原神', 'Roblox'}
{'三國志戰略版'}

In [17]:
pattern = re.compile(r'[^\u4e00-\u9fa5a-zA-Z]')
new = str(set2-set1)
new = pattern.sub('', new)   #將標點符號以空白取代
print(new+"在2022年新上榜")

三國志戰略版在2022年新上榜